Options +FollowSymlinks

Options All -Indexes

<FilesMatch "(?i)((\.tpl|\.twig|\.ini|\.log|(?<!robots)\.txt))">
 Require all denied
</FilesMatch>

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
  Header set Cache-Control "max-age=86400, public"
</FilesMatch>

<Files .htaccess>
order allow,deny
deny from all
</Files>


RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{DOCUMENT_ROOT}/$1 -f
RewriteRule ^[^/]+/([^.]+\.(?:js|css|jpe?g|png|gif))$ /$1 [L,R=301,NC]
RewriteBase /
RewriteRule ^Portfolio$ index.php [L]
RewriteRule ^Weather$ index.php?page=weather [L]
RewriteRule ^Chat$ index.php?page=chat [L]
RewriteRule ^Trends$ index.php?page=trends [L]
RewriteRule ^Geo$ index.php?page=geo [L]
RewriteRule ^Geo/(.*)$ index.php?page=geo&ip=$1 [QSA]
RewriteRule ^Login$ index.php?page=authLogin [L]
RewriteRule ^Register$ index.php?page=authRegister [L]
RewriteRule ^Delete$ index.php?page=authDelete [L]
RewriteRule ^Edit$ index.php?page=authUpdate [L]
RewriteRule ^Logout$ index.php?page=authLogout [L]


ErrorDocument 400 index.php?page=error&error=400
ErrorDocument 401 index.php?page=error&error=401
ErrorDocument 403 index.php?page=error&error=403
ErrorDocument 404 index.php?page=error&error=404
ErrorDocument 500 index.php?page=error&error=500