html {
    scroll-behavior: smooth;
}

@font-face {
    src: url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/fonts/bootstrap-icons.woff2?856008caa5eb66df68595e734e59580d) format('woff2');
    font-display: swap;
}

.meImg{
    border-radius: 50%;
    width: 250px;
    height: auto;
}

.timeline .col-12{
    padding: 0;
    border-top: 4px solid #0a53be;
    border-bottom: 4px solid  #0a53be;
    margin-top: -4px;
}

.timeline:nth-child(1) .col-12{
    border-top: 4px solid  #0a53be;
    margin-top: 0;
}

.timeline:nth-child(odd) .col-12{
    margin-left: 10px;
    border-radius: 0 10px 10px 0;
    border-right: 4px solid  #0a53be;
}

.timeline:nth-child(even) .col-12{
    margin-right: 10px;
    border-radius: 10px 0 0 10px;
    border-left: 4px solid  #0a53be;
}

.timeline:last-child .col-12{
    border-bottom: 4px solid  #0a53be;
}

.aboutMe{
    background: url("public/img/bckgrnd.jpg") fixed;
}

::-webkit-scrollbar{width:15px}
::-webkit-scrollbar-track{background:black}
::-webkit-scrollbar-thumb{background:gray;border-radius:5px}
::-webkit-scrollbar-thumb:hover{background:darkgray}